.profile_control {
	margin: 2em 0;
	background-color: #e477b1;
	font-family: 'Audiowide', cursive;
	padding: 0.2em 0;
	@media screen and (max-width: 768px) {
		padding: .5em 0;
	}
}
.profile_control_buttons {
	max-width: 1260px;
	margin: 0 auto;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
	div {
		display: grid;
		grid-auto-flow: column;
		grid-gap: 2em;
		span {
			font-family: 'Audiowide', cursive;
			font-size: 25px;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
	@media screen and (max-width: 1260px) {
		padding: 0 1em;
		div span {
			font-size: 20px;
		}
	}
}

// card

.profile {
	display: grid;
	position: relative;
	grid-template-columns: 1fr;
	@media screen and (max-width: 1260px) {
		padding: 0 1em;
	}
}
.card {
	display: grid;
	grid-template-columns: 35% 65%;
	max-width: 1260px;
	margin: 0 auto;
	padding-bottom: 3em;
	@media screen and (max-width: 1260px) {
		grid-template-columns: 1fr;
		margin: 0;
		padding: 0 0 3em 0;
		grid-gap: 2em;
  }
  @media screen and (max-width: 520px) {
		text-align: center;
	}
}
.slick-slider {
	.slick-track {
		display: flex;
		align-items: center;
	}
}
.image_block {
	max-width: 100%;
	@media screen and (max-width: 1260px) {
    width: calc(100vw - 2em);
    display: grid;
	}
	.images_track {
    max-width: 100%;
    img {
      width: 100%;
		}
    @media screen and (max-width: 1260px) {
      height: auto;
      // display: grid;
    }
	}
	.report_btn {
		max-width: 100%;
		margin-top: 1em;
		font-size: 17px;
		font-weight: 700;
		padding: 1em;
		text-align: center;
		background-color: #0098a7;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		justify-content: space-around;
		@media screen and (max-width: 400px) {
      display: grid;
    }

		cursor: pointer;
		&:hover {
			transition: 0.1s;
			background-color: #027580;
		}
	}
	.favorite_btn {
		margin-top: 1em;
		font-size: 17px;
		font-weight: 700;
		padding: 1em 0;
		text-align: center;
		background-color: #f3c217;
		font-family: 'Montserrat', sans-serif;
		cursor: pointer;
		&:hover {
			transition: 0.1s;
			background-color: #bb9611;
		}
	}
}
.images_track {
	margin-bottom: 1em;
	height: 20em;
	overflow: hidden;
	max-width: 100%;
}

.content_block {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	padding: 0 0 0 1em;
	@media screen and (max-width: 1260px) {
		padding: 0;
	}
}
.content_block_header {
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 520px) {
    display: grid;
    justify-content: center;
	}
	div {
		img {
			padding: 0.5em 0 0.5em 1em;
		}
	}
	span {
		font-size: 17px;
		font-weight: 400;
	}
	h5 {
		font-size: 21px;
		font-weight: 700;
	}
}
.content_block_description {
	font-size: 17px;
	h6 {
		margin: 1em 0 0 0.1em;
		font-weight: 700;
	}
	p {
		font-weight: 400;
		line-height: 1.5em;
	}
}

.contacts_blue_block {
	background-color: #0098a7;
	display: flex;
	padding: 0.8em 1em 0.7em 1em;
	justify-content: space-between;
	@media screen and (max-width: 520px) {
    display: grid;
		justify-content: center;
		margin-top: 2em;
	}
	div {
		font-size: 17px;
		font-weight: 400;
		text-transform: uppercase;
		font-family: 'Audiowide', cursive;
		a {
			font-family: sans-serif;
			cursor: pointer;
			text-transform: none;
			color: #fff;
			text-decoration: none;
			padding: 0 0 0 1em;
		}
		@media screen and (max-width: 520px) {
      display: grid;
      justify-self: center;
			a {
				width: 100%;
				text-align: center;
				padding: 0;
			}
		}
	}
}

.main_content_block {
	display: grid;
	margin-top: 0.8em;
	padding: 1em 0 0 0;
	grid-template-columns: 7fr 4fr;
	grid-gap: 1.5em;
	@media screen and (max-width: 700px) {
		grid-template-columns: 1fr;
	}
}
.text_block {
	p {
		font-size: 17px;
		font-weight: 400;
		line-height: 1.5em;
	}
}
.text_block_title {
	margin-bottom: 0.7em;
	font-size: 17px;
	font-weight: 700;
}
.details_block {
	background-color: #50535b;
	padding: 1.5em 2em;
	display: grid;
	a {
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}
	dl {
		width: 100%;
		display: grid;
		grid-template-columns: auto auto;
		line-height: 1.5em;
		margin: 0;
	}
}

.add_comment_block {
	font-family: 'Audiowide', cursive;
	background-color: #e477b1;
	width: 100%;
	max-width: 1260px;
	margin: 0 auto 3em auto;
	div {
		width: 100%;
		padding: 0.5em;
		font-size: 25px;
		font-weight: 400;
		text-transform: uppercase;
		@media screen and (max-width: 520px) {
			padding: .2em .5em;
			font-size: 20px;
		}
	}
	textarea {
		display: block;
		width: 100%;
		background-color: #fff;
		&:hover {
			transition: 0.2s;
			background-color: #eee;
		}
	}
}

.comments_block {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto 3em auto;
}
.comments_block_title {
	background-color: #e477b1;
	font-family: 'Audiowide', cursive;
	width: 100%;
	padding: 0.5em;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 1em;
	@media screen and (max-width: 520px) {
		padding: .2em .5em;
		font-size: 20px;
	}
}
.comment {
	color: #eee;
	background-color: #50535b;
	padding: 1.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	p {
		margin-top: 0.5em;
		font-size: 17px;
		// font-weight: 400;
		line-height: 1.5em;
	}
}
.comment_title {
	border-bottom: 3px solid #a2a2a2;
	padding-bottom: 0.5em;
	display: flex;
	justify-content: space-between;
	span {
		font-size: 17px;
		// font-weight: 400;
	}
}
