.categories_block {
	padding: 2.2em 0 0 0;
}
.categories_title {
	background-color: #e477b1;
	font-family: 'Audiowide', cursive;
	p {
		padding: 0.1em 0;
		max-width: 1260px;
		margin: 0 auto;
		font-size: 25px;
		font-weight: 400;
		text-transform: uppercase;
	}
	@media screen and (max-width: 1270px) {
		p {
			padding: .1em 1em;
		}
	}
	@media screen and (max-width: 768px) {
		p {
			text-align: center;
			padding: .5em 1em;
			font-size: 20px;
		}
	}
}
.categories_content {
	background: url("../../assets/images/categories/categories-bg.png") center
		center / cover no-repeat;
	padding: 2em 0;
}
.categories_control {
	background-color: #36383e;
	max-width: 1260px;
	margin: 0 auto;
	padding: 0.2em 1em;
	.category {
		font-family: 'Audiowide', cursive;
		margin-right: 1em;
		font-size: 21px;
		font-weight: 400;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;
		&:hover {
			transition: 0.2s;
			color: #8ff3fc;
		}
		&:last-child {
			grid-column: span 3;
			text-align: center;
		}
	}
	@media screen and (max-width: 700px) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		.category {
			padding: .5em 0;
			margin: 0;
			font-size: 20px;
		}
	}
}
.categories_subtitle {
	max-width: 1260px;
	margin: 1em auto 0 auto;
	background-color: rgba(255, 255, 255, 0.4);
	text-align: center;
	p {
		font-size: 29px;
		font-weight: 700;
		text-transform: uppercase;
		font-style: italic;
	}
}

.slide {
	padding: 0 0.3em;
	position: relative;
	&:hover a {
		color: #00e8ff;
	}
	a {
		font-family: 'PT Sans', sans-serif;
		color: #fff;
		text-decoration: none;
		div {
			position: absolute;
			bottom: 0;
			left: .2em;
			width: calc(100% - .4em);
			background-color: rgba(0, 0, 0, 0.5);
			padding: 1em;
			font-size: 25px;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
}
