.login_page_form {
	max-width: 700px;
	margin: 0 auto;
	padding: 0.5em;
	background-color: #3f4248;
	border-radius: 0.5em;

	h2 {
		color: #0098a7;
		font-family: "Audiowide", cursive;
	}
	label {
		color: #0098a7;
	}

	input,
	input:active {
		// background-color: #666 !important;
	}

	.submit_btn {
		background-color: #0098a7;
		color: #fff;
		font-family: "Audiowide", cursive;
		&:hover {
			background-color: #007580;
			color: #fff;
		}
	}
}

.login_btn_control {
	max-width: 700px;
	margin: 0 auto;
	padding: 0.5em;
	display: grid;
	justify-content: end;
	span {
		background: linear-gradient(125deg, #e477b1 40%, #0098a7 70%);
		border: #2a2c30;
		color: #fff;
		font-family: "Audiowide", cursive;
		margin: 1em 0;
		&:hover {
			color: #fff;
		}
	}
}
.login_btn_control.active {
	span {
		background: linear-gradient(125deg, #0098a7 40%, #e477b1 70%);
		border: #2a2c30;
		color: #fff;
		font-family: "Audiowide", cursive;
		margin: 1em 0;
		&:hover {
			color: #fff;
		}
	}
}

// toggler
.user {
	color: #0098a7;
	font-size: 1.5em;
	font-weight: 500;
	padding-right: .6em;
}
.model {
	color: #e477b1;
	font-size: 1.5em;
	font-weight: 500;
	padding-right: .6em;
}
.role_toggler {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: -2em;
}
.switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}
.switch input {
	display: none;
}
.slider {
	background-color: #0098a7;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
}
.slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
}
input:checked + .slider {
	background-color: #e477b1;
}
input:checked + .slider:before {
	transform: translateX(26px);
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
