.customize_wrap {
	padding: 2em 0;
	max-width: 1260px;
	margin: 0 auto;
	display: grid;
	grid-gap: 2em;
}
.customize_block {
}
.customize_block_title {
	background-color: #0098a7;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0 0 0 1em;
	@media screen and (max-width: 599px) {
		font-size: 20px;
		padding: 0.2em 0 0.2em 1em;
	}
}
.customize_block_info {
	background-color: #36383e;
	display: grid;
	align-items: end;
	grid-template-columns: 5fr 1fr;
	grid-gap: 0.5em;
	@media screen and (max-width: 599px) {
		grid-template-columns: 1fr;
		justify-items: center;
	}
	div:nth-child(2) {
		padding: 0 0 2em 0;
	}
}
.customize_block_info_text {
	padding: 2em 0 1em 10%;
	dl {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 1em;
	}
	@media screen and (max-width: 599px) {
		padding: 2em 1em;
	}
}
.btn_edit {
	font-size: 21px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: #0098a7;
	padding: 0.2em 3em;
	border: 1px solid #181818;
	&:hover {
		background-color: #017a85;
	}
	@media screen and (max-width: 599px) {
		// justify-self: center;
	}
}

.user_edit_control {
	background-color: #1a1b1f;
	// background-color: #e477b1;
	width: 100%;
	margin: 2em 0 1em 0;
	padding: 0.3em 0;
	div {
		max-width: 1260px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		span:nth-child(1) {
			color: #fff;
			font-weight: 500;
			text-transform: uppercase;
			font-size: 25px;
		}
		span:nth-child(2) {
			color: #fff;
			text-transform: uppercase;
			font-size: 25px;
		}
	}
	@media screen and (max-width: 1260px) {
		padding: 0.3em 1em;
	}
	@media screen and (max-width: 768px) {
		// padding: 0.3em 1em;
		div span:nth-child(1) {
			font-size: 20px;
		}
		div span:nth-child(2) {
			font-size: 20px;
		}
	}
}
