.support {
	padding-bottom: 5em;
}
.create_task {
	margin: 1em auto 4em auto;
	max-width: 1260px;
}
.task_title {
	padding: 0.2em 1em;
	background-color: #0098a7;
	color: #ffffff;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	@media screen and (max-width: 768px) {
		font-size: 20px;
	}
}
.text_of_support_message {
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_of_support_message.show {
  white-space: normal; 
  overflow: visible;
  width: 100%; 
}
// .text_of_support_message {
// 	width: 100%;
// 	text-overflow: ellipsis;
// 	white-space: nowrap;
// 	overflow: hidden;
// }
// .text-of-support-message.show {
// 	width: auto;
// 	text-overflow: ellipsis;
// 	white-space: normal;
// 	overflow: visible;
// }
.task_body {
	background-color: #36383e;
	padding: 1.5em;
	display: grid;
	grid-gap: 1em;
	@media screen and (max-width: 768px) {
		justify-items: center;
	}
	input {
	}
	textarea {
		padding: 2em;
	}
}
.send_btn {
	span {
		float: right;
		padding: 0.2em 2em;
		background-color: #0098a7;
		color: #ffffff;
		font-size: 21px;
		font-weight: 400;
		text-transform: uppercase;
	}
	&:hover {
		span {
			background-color: #017580;
		}
	}
}

.history {
	background-color: #e477b1;
	margin-bottom: 2em;
	span {
		display: block;
		padding: 0.2em 0;
		max-width: 1260px;
		margin: 0 auto;
		color: #ffffff;
		font-size: 25px;
		font-weight: 400;
		text-transform: uppercase;
	}
	@media screen and (max-width: 1260px) {
		padding: 0.2em 1em;
	}
	@media screen and (max-width: 768px) {
		span {
			font-size: 20px;
		}
	}
}
.history_item {
	max-width: 1260px;
	margin: 0 auto 2.5em auto;
	.task_body {
		display: grid;
		grid-gap: 1em;
		font-size: 21px;
		font-weight: 300;
		div {
			&:nth-child(1) {
				background-color: #4a4f55;
				padding: 0.7em 1em 0.3em 1em;
				width: 100%;
			}
			&:nth-child(2) {
				background-color: #4a4f55;
				padding: 2em 2em 4em 2em;
			}
		}
		@media screen and (max-width: 768px) {
			padding: 1.5em 0.5em;
		}
	}
}
