body {
	background-color: #fff;
}

.navbar {
	margin-top: -1em;
	overflow: visible;	
	.navbar-toggler {
		position: absolute;
		right: .5em;
		top: 1.5em;
		z-index: 9;
		background-color: rgba(228, 119, 177, 0.5);
	}
	.navbar-collapse {
		padding-top: 1em;
	}
}

.active_btn_blue {
	color: #00e8ff !important;
}
.active_btn_pink {
	color: #e477b1 !important;
}

.slick-prev {
	z-index: 99 !important;
	position: absolute !important;
	top: 35% !important;
	left: 0 !important;
	background-color: none !important;
	display: inline-block !important;
	height: 30% !important;
	width: 70px !important;
	transform: translate(0, 0) !important;
	padding: 0 1em !important;
	// &:hover {
	// 	transition: 0.2s;
	// 	background-color: rgba(0, 0, 0, 0.5) !important;
	// }
	&::before {
		content: "\2039" !important;
		font-family: auto !important;
		font-size: 60px !important;
		font-weight: 900 !important;
	}
}
.slick-next {
	z-index: 99 !important;
	position: absolute !important;
	top: 35% !important;
	right: 0 !important;
	background-color: none !important;
	display: inline-block !important;
	height: 30% !important;
	width: 70px !important;
	transform: translate(0, 0) !important;
	padding: 0 1em !important;
	// &:hover {
	// 	transition: 0.2s;
	// 	background-color: rgba(0, 0, 0, 0.5) !important;
	// }
	&::before {
		content: "\203A" !important;
		font-family: auto !important;
		font-size: 60px !important;
		font-weight: 900 !important;
	}
}

.slick-dots {
	top: -3.5em !important;
	margin-top: 1em !important;
	li {
		width: 40px !important;
		height: 40px !important;
		padding: 1em 0 !important;
		button {
			width: 40px !important;
			height: 40px !important;
			padding: 2em 2em 1em 2em !important;
			&:before {
				font-size: 30px !important;
				width: 30px !important;
				height: 30px !important;
				content: "\2605" !important;
				opacity: 0.5 !important;
				color: #00e8ff !important;
			}
		}
	}
}
.slick-dots li.slick-active button:before {
	opacity: 1 !important;
	color: #d8a462 !important;
}