.header_image_block {
	position: relative;
}
.header_title {
  // font-family: 'Progress', sans-serif;
  letter-spacing: 5px;
	position: absolute;
	top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
	text-shadow: 5px 5px 15px rgba(30, 31, 30, 0.56);
	color: #ffffff;
  // font-size: 250px;
  font-size: 15em;
  font-style: italic;
	font-weight: 700;
	line-height: 1em;
  text-transform: uppercase;
}

@media screen and (max-width: 1350px) {
  .header_title {
    font-size: 13em;
  }
}
@media screen and (max-width: 1250px) {
  .header_title {
    font-size: 11em;
  }
}
@media screen and (max-width: 1150px) {
  .header_title {
    font-size: 9em;
  }
}
@media screen and (max-width: 1050px) {
  .header_title {
    font-size: 8em;
  }
}
@media screen and (max-width: 950px) {
  .header_title {
    font-size: 7em;
  }
}
@media screen and (max-width: 800px) {
  .header_title {
    font-size: 6em;
  }
}
@media screen and (max-width: 700px) {
  .header_title {
    font-size: 5em;
  }
}
@media screen and (max-width: 550px) {
  .header_title {
    font-size: 4em;
  }
}
@media screen and (max-width: 450px) {
  .header_title {
    font-size: 3em;
  }
}
@media screen and (max-width: 350px) {
  .header_title {
    font-size: 2em;
  }
}