.loc_page_control {
}
.loc_page_control_content {
	max-width: 1260px;
	margin: 0 auto;
	padding-bottom: 0.7em;
}
.loc_page_control_header {
	display: grid;
	grid-template-columns: 5fr 2fr;
	grid-gap: 1em;
	width: 100%;
	margin-bottom: 0.7em;
	h5 {
		background-color: #e477b1;
		font-family: "Audiowide", cursive;
		position: relative;
		padding: 0.2em 0 0 2px;
		margin: 0;
		font-size: 25px;
		font-weight: 400;
		text-transform: uppercase;
		&::before {
			position: absolute;
			background-color: #e477b1;
			display: block;
			top: 0;
			left: 0;
			content: "";
			height: 100%;
			width: 162px;
			transform: translateX(calc(-100% + 2px));
		}
		@media screen and (max-width: 1260px) {
			&::before {
				display: none;
			}
		}
	}
	div {
		background-color: #0098a7;
		font-family: "Audiowide", cursive;
		position: relative;
		font-size: 25px;
		font-weight: 400;
		padding: 0.2em 0 0 1em;
		text-transform: uppercase;
		&::after {
			position: absolute;
			background-color: #0098a7;
			display: block;
			top: 0;
			right: 0;
			content: "";
			height: 100%;
			width: 162px;
			transform: translateX(calc(100% - 2px));
		}
		@media screen and (max-width: 768px) {
			margin-top: 1em;
		}
		@media screen and (max-width: 1260px) {
			&::after {
				display: none;
			}
		}
	}
	@media screen and (max-width: 1100px) {
		h5,
		div {
			font-size: 20px;
		}
	}
	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		margin-bottom: 1em;
		h5,
		div {
			text-align: center;
			padding: 0.5em 1em 0.5em 1em;
			font-size: 20px;
		}
	}
}
.loc_page_filter_control {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap: 1em;
	div {
		background-color: #797a7d;
		font-family: "Audiowide", cursive;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			transition: 0.1s;
			background-color: #5e5f63;
		}
	}
	input {
		font-size: 1.3em;
		color: #000;
		&::placeholder {
			color: #ccc;
		}
		&:hover {
			transition: 0.1s;
			background-color: #9a9b9e;
		}
		background-color: #797a7d;
	}
	// @media screen and (max-width: 768px) {
	// 	margin-bottom: 1em;
	// 	grid-template-columns: 1fr;
	// 	padding: 0 0.5em;
	// 	div {
	// 		display: none;
	// 	}
	// }
}

.loc_cities_list {
	ul {
		padding: 1em;
		list-style: none;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		li {
			color: #fff;
			font-size: 1.1em;
			font-weight: 400;
			font-family: 'PT Sans', sans-serif;
			&:hover {
				color: #00e8ff;
			}
		}
		@media screen and (max-width: 1024px) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media screen and (max-width: 1024px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
